/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Geist Mono', monospace;
}

/* Live Soon Container */
#live-soon-container {
    text-align: center;
}

/* Gradient Background for Text */
#live-soon-gradient {
    display: inline-block;
    padding: 20px 40px;
    background: linear-gradient(45deg, #521739, #111234, #00425d, #003b6e, #8e44ad);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
    border-radius: 15px; 
}

/* Live Soon Text */
#live-soon-text {
    font-size: clamp(1.5rem, 4vw, 2.5rem); 
    color: white;
    font-weight: bold;
}

/* Gradient Background Animation */
@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
